<div class="jumbotron jumbotron-fluid py-5 bg-transparent text-white">
  <div class="container">
    <h1 class="display-4">Bienvenue sur e-picat</h1>
    <p class="lead">e-picat</p>
  </div>
</div>
<div class="container">
	<div class="row">
		<% @items.each do |item| %>
		<div class="col-sm-6 col-md-4 my-3">
			<div class="card">
				<img src="<%= item.image_url %>" class="card-img-top" alt="..." height="200">
				<div class="card-footer">
					<small class="text-muted">
							<a href="items/<%=item.id%>"><%=item.title%></a>
					</small>
				</div>
			</div>
		</div>
		<% end %>
	</div>	
</div>